/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-blue: #3f93d9;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 16px;
  transition: all 300ms ease;
  color: var(--color-white);
  border: none;
}

#navbar.navbar--dark {
  background-color: #3f93d9;
  border-bottom: 2px solid #106cb8;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-weight: var(--weight-bold);
  border-bottom: 3px solid transparent;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  transform: scale(1.1);
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url('imgs/bgImg.png') center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  border: 3px solid var(--color-white);
  border-radius: 40px;
  height: 100%;
  width: 280px;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  transition: transform 300ms ease;
}

.home__contact:hover {
  transform: scale(1.1);
}

/* Section common except Home*/
.section {
  margin: auto;
  padding: 120px 50px;
  text-align: center;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.major__icon {
  border: 3px solid var(--color-blue);
  border-radius: 20px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.major__type {
  font-size: var(--font-medium);
  border-bottom: 1px solid var(--color-blue);
  padding: 20px;
}

.icons {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > i {
  color: var(--color-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin: auto;
}

.icons .language {
  margin-top: 4px;
  font-size: var(--font-micro);
  color: var(--color-grey);
  font-weight: bold;
}

.back-end {
  width: 30%;
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillSet {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  border-radius: 20px;
}

.skillSet__title {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-white);
  width: 80px;
  border-radius: 50%;
  margin: auto;
}

.skillSet__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
  border-radius: 20px 0 0 20px;
}

.skill {
  margin-bottom: 20px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillSet__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
  border-radius: 0 20px 0 0;
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn:hover,
.category__btn.active {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: absolute;
  top: -20px;
  right: 12px;
  opacity: 0;
  transition: all 300ms ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  border-radius: 10px;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  border-radius: 10px;
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all 300ms ease;
}

.project:hover .project__description {
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: '';
  display: flex;
  width: 120px;
  height: 2px;
  background-color: var(--color-dark-white);
  left: 50%;
  position: relative;
  margin-left: -60px;
  margin-top: 10px;
}

/* Contact */
#contact {
  background-color: var(--color-dark-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  color: black;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

.arrow-up {
  padding: 0;
  position: fixed;
  font-size: 50px;
  right: 20px;
  bottom: 50px;
  color: var(--color-black);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 840px screen width */
@media screen and (max-width: 840px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .navbar__toggle-btn {
    display: block;
    color: white;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: #3f93d9;
    border-bottom: 2px solid #106cb8;
  }

  .navbar__logo {
    font-size: 25px;
    display: flex;
    align-items: center;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__menu__item:hover {
    background-color: var(--color-light-mint);
  }

  .major__icon {
    margin-bottom: 38px;
  }

  .skillSet {
    flex-direction: column;
  }

  .skillSet__left {
    border-radius: 20px 20px 0 0;
  }

  .tools {
    border-radius: 0;
  }

  .category__btn {
    margin: 4px;
    width: 100%;
  }

  .category__count {
    margin-top: 4px;
    margin-right: 14px;
  }
}
